section.new-tweet {
  display: flex;
  background-color:  gainsboro;
  margin-top: 10px; 
  flex-direction: column;
  height: auto;
  padding: 1em;
  width: inherit;
  
}
button {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  background-color: #4056A1;
  display: flex;
  padding: 0.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  margin-left: 1em;
  width: 5em;
  height: 2em;
}
#new-tweet-text {
  display: flex;
  border: hidden;
  border-bottom: solid 4px darkslategray;
  background-color: inherit;
  justify-content: center;
  padding: 1em;
  padding-bottom: 0em;
  margin: 1.5em;
  font-family:"Source Sans 3", sans-serif;
  color: darkslategray;
  font-weight:600;
  flex-wrap: wrap;
  resize: vertical;
  width: 90%;
}
.container h2 {  font-family: 'Ink Free', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: maroon;
font-style: italic;}
textarea:focus {
  font-family:"Source Sans 3", sans-serif;
  color: black;
  font-weight:600;
}
.new-tweet .header {
  display: flex;
  justify-content: flex-start;
  margin-left: 1em;
}
.new-tweet .footer {
  display: flex;
  justify-content: space-between;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.counter {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: darkslategray;
}
#error {			
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  float: left;
  padding: 20px 30px;
  color: #cc0033;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 1px 1px rgba(250,250,250,.3);
  display: none;
}