section.new-tweet {
  display: flex;
  background-color:  seashell;
  border-top: solid 5px antiquewhite;
  border-left: solid 5px antiquewhite;
  border-right: solid 10px antiquewhite;
  border-bottom: ridge 10px bisque;
  margin-top: 10px; 
  flex-direction: column;
}

button {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: inherit;
  color: maroon;
  font-style: italic;
  margin-top: 1em;
  margin-left: 5em;
  width: 3em;
  height: 3em;
  border: dashed 1px maroon;
  border-bottom: dotted 3px maroon;
}

textarea {
  border: dashed 1px ivory;
  border-bottom: dotted 2px maroon;
  background-color: floralwhite;
  justify-content: center;
  margin-top: 1.5em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  font-family:'Ink Free', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  color: darkred;
  min-width: 19em;
}

.container h2 {  font-family: 'Ink Free', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: maroon;
font-style: italic;}

textarea:focus {
  font-family: 'Ink Free', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: indianred;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
}
.footer {
  display: flex;
  justify-content: flex-end;
  margin-left: 1.5em;
  margin-right: 2em;
}

.counter {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  color: maroon;
}