.tweet-box {
  border-top: dotted darkslategrey 4px;
  width: inherit;
}

.tweet {
  display: flex;
  flex-direction: column;
  border: solid darkslategrey 4px;
  margin: 2em;
  font-family:"Source Sans 3", sans-serif;
  color: darkslategray;
  font-weight:600;
}

.tweet:hover {
  box-shadow: 10px 5px 5px grey;
}

.tweet > h2 {
  display: none;
}

.tweet > header {
  margin: 1em;
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 300;
}

.tweet > header > .tweeter-id {
  color: rgb(167, 176, 185);
  font-weight: 400;
}

.tweet > header > span {
  display: flex;
  flex-direction: row;
  color: darkslategray;
}

.tweet content {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  margin: 1em;
  margin-bottom: 0.5em;
  border-bottom: 4px solid darkslategray;
}


.tweet > footer {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  font-size: 16px;
  font-weight: 300;
  margin: 1em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.icons-box {
  padding-left: 1em;
  display: flex;
  justify-content: space-evenly;
}

.icons-box i {
  padding-left: 1em;
}

.icons-box i:hover {
  color: olive;
}